body {
    font-family: Arial;
}

input {
    float: left;
    
    margin-bottom: 10px;
}


label {
    clear: both;
    float: left;
    width: 180px;
}

button {
    clear: both;
    float: left;
    width: 50px;
}

.error-control {
    border: 1px solid purple;
}

label.error {
    color: purple;
    width: 300px;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
}

#formulario button{
    min-width: 100px;
}

